.customSplitApp {
    width: 100%;
    height: 300px;
}

.field{
    padding-left: 70px;
}
 
/* Equal height for Transfer From and Transfer To panels */
.equalColumns .sapMFlexBox {
    align-items: stretch;
}
 
.equalColumns .sapMPanel {
    height: 100%;
    display: flex;
    flex-direction: column;
}
 
.equalColumns .sapMPanel .sapMPanelContent {
    flex: 1;
}

.boldBlueVariant .sapUiCompSmartVariantManagementLabel {
  color: #0070f2 !important; /* SAP blue */
  font-weight: bold !important;
}
.sapMPanel .sapMPanelHeadingDiv>.sapMPanelHdr, .sapMPanelWrappingDiv, .sapMPanelWrappingDivTb {
    border-bottom: .0625rem solid #fff;
    background: #fff;
}


